<aside class="pt-4 pr-4">
  <h1 class="px-3 pt-4 text-normalize">
    {{ site.title }}
  </h1>
  <!-- current pag aliases -->
  {% assign aliases = site.pages|where:"ref",page.ref %}
  <!-- level 1 -->
  <ul class="nav flex-column mt-4">
    {% for ref in site.data.navigation.level_1 %}
      {% assign nav_item = site.pages|where:"ref",ref|where:"lang":page.lang|first %}
      {% include nav_item.html %}
    {% endfor %}
  </ul>

  <!-- level 2 -->
  <ul class="nav flex-column mt-4">
    {% for ref in site.data.navigation.level_2 %}
      {% assign nav_item = site.pages|where:"ref",ref|where:"lang":page.lang|first %}
      {% include nav_item.html %}
    {% endfor %}
  </ul>

  <!-- level 3 -->
  <ul class="nav flex-column mt-4">
    {% for ref in site.data.navigation.level_3 %}
      {% assign nav_item = site.pages|where:"ref",ref|where:"lang":page.lang|first %}
      {% include nav_item.html %}
    {% endfor %}
  </ul>

  <!-- languages -->
  <ul class="nav mt-4">
    {% for language in site.languages %}
      <li class='nav-item'>
        {% if page.lang == language %}
          {% assign is_active = true %}
        {% else %}
          {% assign is_active = false %}
        {% endif %}
        {% assign alias = aliases|where:"lang",language|first %}
        <a class="nav-link {% if is_active %} active {% endif %}" href="{{ site.baseurl }}{{ alias.permalink }}">
          {% assign key=language %}
          {% include t.html %}
        </a>
      </li>
    {% endfor %}
  </ul>
</aside>
